<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
            background-image: url('https://ca-times.brightspotcdn.com/dims4/default/6a265ae/2147483647/strip/false/crop/1600x900+0+0/resize/1486x836!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fec%2F99%2Faddbdc16a7876aed60c589f5429e%2Fla-gj-1132b-20151111');
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            font: bolder;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1, h3, p {
            color: whitesmoke;
            font: bolder;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        </style>
    <link rel="stylesheet" href="./css/show.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= planet.name %> Show Page</title>
  </head>
  <body>
    <h1><%= planet.name %></h1>
    <% if (planet.hasWater) { %>
        <p>This planet may be able to sustain human life!</p>
      <% } else { %>
        <p>This planet CANNOT sustain human life!</p>
      <% } %>

      <h3>Description: <%= planet.description %></h3>
      <h3>Planet Size: <%= planet.size %> miles wide!</h3>

      <form action="/planets/<%= planet._id%>?_method=DELETE" method="POST">
        <button type="submit">Destroy <%= planet.name %></button>
        
      </form>
      <a href="/planets/<%= planet._id %>/edit">Edit <%= planet.name %></a>

      <a href="/planets/">Back to the Solar System</a>

  </body>
</html>
